:root {
    --background-white: #e5e5e5;
    --background-dark: #2f303a;
    --background-grey: #f5f4fa;
    --logo-blue: #2196f3;
    --logo-black: #000;
    --text-black: #212121;
    --text-white: #ffffff;
    --text-grey: #757575;
    --text-footer: #fff9;
    --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-grey);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
  }
  .link {
    text-decoration: none;
    color: currentColor;
    }
    .list {
      list-style: none;
    }
  .header {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
  }
  /*top*/
  .header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
      }
      .nav-list {
        color: var(--text-black);
      }
  .logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-blue);
  
  } 
  .logo-dark {
    color: var(--logo-black);
  }
  
  .link:hover,
  .link:focus {
    color: var(--logo-blue);
  }

  /*h1*/
  
  .hero {
    background-color: var(--background-dark);
    text-align: center;
  }
  .hero-title {
    font-weight: 900;
    color: var(--text-white);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  /*button*/
  
  .hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: var(--logo-blue);
    color:var(--text-white);
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
  }
  .filter-button:hover,
  .filter-button:focus {
    background-color: var(--logo-blue);
    color: var(--text-white);
  }
  .filter-list {
    list-style: none;
  }
  .filter-button {
    background-color: var(--background-grey);
    color: var(--text-black);
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    font-family: inherit;
    letter-spacing: inherit;
  }
  /*features, portfolio*/
  
  .feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-black);
  }
  .feature-text {
    color: var(--text-grey);
  }
  .portfolio-list {
    cursor: pointer;
  }
  .portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-black);
  }
  .portfolio-desc {
    font-size: 16px;
    line-height: 1.9;
  }
  /*main*/
  
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: 'Roboto';
    color: var(--text-black);
    font-style: normal;
  }
  .team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-black);
  }
  .team-text {
    font-size: 16px;
    line-height: 1.18;
  }
  /* Footer bg */
  .logo-white {
    color: var(--text-white);
  }
  .footer {
    background-color: var(--background-dark);
  }
  .adress {
    font-style: normal;
  }
  .adress-link {
    color: var(--text-white);
  }
  .adress-link:hover,
  .adress-link:focus {
    color: var(--logo-blue);
  }
  .adress-contact-link {
    color: var(--text-footer);
  }
  .adress-contact-link:hover,
  .adress-contact-link:focus {
    color: var(--logo-blue);
  }
  